<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Menú Principal: Consumos Internos -->
    <menuitem id="menu_internal_consumption_root"
              name="Consumos Internos"
              parent="accountant.menu_accounting"
              sequence="15"/>

    <!-- Submenú: Configuración -->
    <menuitem id="menu_internal_consumption_config"
              name="Configuración"
              parent="menu_internal_consumption_root"
              action="action_internal_consumption_config"
              sequence="1"/>

    <!-- Submenú: Consumos Emitidos -->
    <menuitem id="menu_internal_consumption_audit"
              name="Consumos Emitidos"
              parent="menu_internal_consumption_root"
              action="action_internal_consumption_audit"
              sequence="2"/>

    <!-- Submenú: Reportes -->
    <menuitem id="menu_internal_consumption_reports"
              name="Reportes"
              parent="menu_internal_consumption_root"
              sequence="3"/>

    <!-- Submenú: Reporte de Configuraciones -->
    <menuitem id="menu_internal_consumption_config_report_wizard"
              name="Configuraciones"
              parent="menu_internal_consumption_reports"
              action="action_internal_consumption_config_report_wizard"
              sequence="1"/>

    <!-- Submenú: Reporte de Consumos -->
    <menuitem id="menu_internal_consumption_report_wizard"
              name="Consumos Emitidos"
              parent="menu_internal_consumption_reports"
              action="action_internal_consumption_report_wizard"
              sequence="2"/>
</odoo>